<!DOCTYPE html>

<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>CoronaGO: admin user page</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/homeadmin.css">
</head>

<body>
    <main>
        <h1>Select action below:</h1>
        <div id="AdminFunctions">
            <a id="addinfected" href="admin/addinfected" class="button">Add infected person</a>
            <a id="runsearch" href="admin/adminrunsearch" class="button">Run search for infected</a>
        </div>
    </main>
</body>

</html>