<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Find infected by Corona</title>
        <link href="/static/todo.css" rel="stylesheet">
    </head>
    <body>
        <table>
            <tr>
                <th>
                    User data
                </th>
            </tr>
            {{range $k,$v:=.List}}
                <tr>
                    <td>
                        {{$v.ID}}
                    </td>
                    <td>
                        {{$v.Time}}
                    </td>
                    <td>
                        {{$v.Day}}
                    </td>
                    <td>
                        {{$v.City}}
                    </td>
                    <td>
                        {{$v.Xcoord}}
                    </td>
                    <td>
                        {{$v.Ycoord}}
                    </td>
                </tr>
            {{end}}
        </table>
        <td>
            <a id="declareinfection" href="/declareinfection" class="button">Declare infection</a>
        </td>
    </body>

    <script src="/static/scripts/userpage.js"></script>

</html>